<%- include('../partiels/header.ejs') %>

    <link rel="stylesheet" href="/stylesheets/Authenticate/forget.css">

    <div class="main">
        <div class="center">
            <i class="ri-lock-fill"></i>
            <h2>New Password</h2>
            <p>You can enter your new password here.</p>
            <form action="/Authenticate/change-password/<%= id %>" method="post">
                <div class="inputs">
                    <i class="ri-checkbox-circle-fill"></i>
                    <input type="password" required placeholder="xxxxxxx" name="password">
                </div>
                <button>Reset Password</button>
            </form>
        </div>
    </div>
 
<%- include('../partiels/footer.ejs') %>