<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add-expense" method="post">
        <input type="text" placeholder="category" name="category">
        <br>
        <input type="number" placeholder="amount" name="amount">
        <br>
        <input type="text" placeholder="description" name="description">
        <br>
        <button>Add Expense</button>
    </form>
</body>
</html>
