<link rel="stylesheet" href="/stylesheets/Expense/nav.css">
<nav>
    <div class="nav-part1">
        <a href="">Expense Tracker</a>
    </div>
    <div class="nav-part2">
         
         <a href="/logout">Log Out</a>
    </div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
