.update-item{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:slategrey;
}
form{
    width: 30%;
    text-align: center;
}
form>h1{
    margin-bottom: 2vw;
}
form>input{
    width: 100% !important;
}



@media all and (min-width: 260px) and (max-width: 767px) {
  
}